@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c1c29;
    color: white;
    text-align: center;
    
}

header {
    background-color: #135a48;
    padding: 20px;
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
nav img{
    width: 150px;
    
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    background: #1b3a4b;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    text-align: left;
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
}

.card h2 {
    font-size: 18px;
    color: #00c896;
}

.card p {
    font-size: 14px;
}
.card:hover{
    background-color:#135a48;
    transform: scale(1.08);
    box-shadow: #0c1c29;
}


footer {
    background-color: #135a48;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}
.Logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    
}
.Navegacion{
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    display: flex;
    margin-right: 28%;
}
.Cards2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
button{
    background-color:#2381b4;
    align-items: center;
    border-color: #00c896;
    
}
a{
    text-decoration: none;
    color: white ;
}
.XD{
    display: block;
    margin: 0%;
    text-align: center;
}
